
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center;display:inline-block;width:100%">
    <h1 style="color:#4d61fc;font-weight:700">Chúc mừng bạn đã đăng ký thành công</h1>
    <a style="border:none;border-radius:5px;color:white;background-color:#4d61fc;font-weight:700;padding:5px;text-decoration:none" asp-area="" 
        asp-controller="Account" asp-action="Login">Đăng Nhập</a>
    <a style="border:none;border-radius:5px;color:white;background-color:#4d61fc;font-weight:700;padding:5px;text-decoration:none" asp-area="" 
        asp-controller="Home" asp-action="Index">Quay về trang chủ</a>
</div>
